{% extends "forum/base.html" %}
{% load i18n forum %}


{% block action_buttons %}
    {% if topic.author == forum_user or forum_user.is_moderator %}
        <a href="{% url forum-topic-delete topic.id %}?next={% url forum-topic-list %}">
            <i class="icon-trash"></i>
            {% trans "Delete" %}
        </a>
        <span class="separator">|</span>
        {% if topic.is_closed %}
            <a href="{% url forum-topic-toggle-close topic.id %}">
                <i class="icon-refresh"></i>
                {% trans "Open" %}
            </a>
        {% else %}
            <a href="{% url forum-topic-toggle-close topic.id %}">
                <i class="icon-ban-circle"></i>
                {% trans "Close" %}
            </a>
        {% endif %}
        <span class="separator">|</span>
        {% if topic.is_solved %}
            <a href="#todo">
                <i class="icon-ok"></i>
                {% trans "Unmark \"solved\"" %}
            </a>
            <span class="separator">|</span>
        {% endif %}
    {% endif %}

    {% if forum_user.is_moderator %}
        {% if topic.is_sticked %}
            <a href="{% url forum-topic-toggle-sticky topic.id %}">
                <i class="icon-star-empty"></i>
                {% trans "Unstick" %}
            </a>
        {% else %}
            <a href="{% url forum-topic-toggle-sticky topic.id %}">
                <i class="icon-star"></i>
                {% trans "Stick" %}
            </a>
        {% endif %}
        <span class="separator">|</span>
    {% endif %}

    <a href="{% url forum-topic-list %}">
        <i class="icon-list-alt"></i>
        {% trans "Topic list" %}
    </a>
    <span class="separator">|</span>
    <a href="{% url forum-topic-create %}">
        <i class="icon-plus"></i>
        {% trans "New topic" %}
    </a>
    <span class="separator">|</span>
{% endblock %}


{% block forum_content %}
    <div class="row">
        <div class="span12">
            <h1>
                {{ topic.title }}
                {% if topic.is_solved %}
                    <a href="#post-{{ topic.solved_by }}">
                        <i class="icon-ok"></i>
                        {% trans "Solving post" %}
                    </a>
                {% endif %}
            </h1>


            {% for post in topic.post_set.select_related %}
                <hr id="post-{{ post.id }}">
                <div class="row post {% if topic.is_solved %}is-{{ post.is_solving|yesno:",not-" }}solving{% endif %}">
                    <div class="span2">
                        <a href="#post-{{ post.id }}">#</a>
                        <p>
                            <a href="{{ post.author.get_absolute_url }}">{{ post.author.username }}</a>
                        </p>
                        <p>
                            {{ post.author|avatar:"128" }}
                        </p>
                        {% if not topic.is_solved %}
                            <p>
                                <a href="{% url forum-post-is-solving topic_id=topic.id post_id=post.id %}">
                                    {% trans "This post is solving the problem" %}
                                </a>
                            </p>
                        {% endif %}
                    </div>
                    <div class="span10 content">
                        {{ post.content|format_bbcode }}
                    </div>
                </div>
            {% endfor %}
            <span id="post-last"></span>
        </div>
    </div>

    {% if not topic.is_closed %}
        <div class="row">
            <form action="{% url forum-post-create topic.id %}" method="POST" accept-charset="utf-8" class="well post">
                {% csrf_token %}
                <div class="span8">
                    {{ post_form.content }}
                </div>
                <div class="span3 right">
                    <span class="markup-lang">
                        {{ post_form.markup_lang }}
                    </span>
                    <button class="btn btn-primary">{% trans "Save" %}</button>
                </div>
                <div class="clear"></div>
            </form>
        </div>
    {% else %}
        <div class="spacer"></div>
        <div class="row">
            <div class="span3">&nbsp;</div>
            <div class="span6">
                <div class="alert alert-info">
                    {% blocktrans %}
                        This topic has been <strong>closed</strong> and it is
                        no longer possible to create new posts here.
                    {% endblocktrans %}
                </div>
            </div>
            <div class="span3">&nbsp;</div>
        </div>
    {% endif %}
{% endblock %}
