{% extends "forum/base.html" %}

{% load i18n %}



{% block action_buttons %}
    <a href="{% url forum-topic-list %}">
        <i class="icon-list-alt"></i>
        {% trans "Topic list" %}
    </a>
    <span class="separator">|</span>
{% endblock %}


{% block forum_content %}
    <div class="row">
        <div class="span6">
            <h2>{% trans "Create new post" %}</h2>
            <form class="well" action="{% url forum-post-create topic.id %}" method="POST" accept-charset="utf-8">
                {% csrf_token %}
                {{ post_form }}
                <p>
                    <button class="btn btn-primary">
                        <i class="icon-plus icon-white"></i>
                        {% trans "Save" %}
                    </button>
                </p>
            </form>
        </div>
    </div>
{% endblock %}
